*
  base styles for the content in the html
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
  Set the background and text colors for contents inside body tag (overrides html)
*/    
body {
    display: block;
    color: black;
    font-family: Verdana;
    background-color: springgreen;
}

.top-div {
  display: contents;
  inset: 10%;
}

.banner {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    align-content: left;
  }

  .image-div {
    display:flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
  }

  .base-image {
    width: 20%;
    border-radius: 10px;
    align-self: center;
  }

  .outer-div {
    display: float;
    align-items: center;
    justify-content: center;
  }

  .header-div {
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .header-div h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 2px;
    text-align: center;
    justify-content: center;
    font-family: Papyrus;
  }

  .header-div h2 {
    font-size: 2em;
    font-weight: bolder;
    margin: 2px;
    text-align: center;
  }

  .title-div {
    text-align: center;
  }

  .title-div h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 2px;
    text-align: center;
    justify-content: center;
    font-family: Papyrus;
    padding: 20px;
  }

  .bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 100px;
  }

  .bottom-image {
    padding-top: 0px;
    width: 20%;
    border-radius: 20px;
    align-self: center;
  }

  .seeds-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px 50px;
  }

  .seed-item {
    border: 3px solid green;
    border-radius: 10px;
    background-color: wheat;
    overflow-y: scroll;
    max-height: 80rem;
  }

  .seed-image {
    display: block;
    margin: 0 auto;
  }

  .seed-item h2 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding: 20px;
  }

  .seed-item img { 
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 3px;
  }

  .seed-item p { 
    font-size: 4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .description {
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
  }

  .planting {
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
  }

  .add-cart-button {
    width: 400px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    margin: 0 auto 50px;
  }

  .shopping-cart-div {
    min-width: 100%;
    position:absolute;
  }

  .shopping-cart {
    display: block;
    margin-left: auto;
  }

  .quantity-div {
    display: block;
    margin: 0 auto;
  }

  .quantity {
    width: 400px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .badge:after{
    content:attr(value);
    text-align: center;
    font-size:36px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-20px;
    opacity:0.9;
    display: block;
    margin-left: auto;
}

  /* Tooltip container */
.tooltip {
  position: relative;
  display:flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
