*
  base styles for the content in the html
*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
  Set the background and text colors for contents inside body tag (overrides html)
*/    
body {
    display: block;
    background-color: white;
    color: black;
    font-family: Verdana;
}

.top-div {
  display: contents;
  inset: 10%;
}

.banner {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    align-content: left;
  }

  .image-div {
    display:flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
  }

  .maui-div {
    text-align: center;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
  }

  .maui-div h1 {
    font-size: 4em;
  }

  .maui-div img {
    width: 90%;
    padding: 0%;
    align-self: center;
    border-radius: 20px;
  }

  .base-image {
    width: 20%;
    border-radius: 10px;
    align-self: center;
  }

  .outer-div {
    display: float;
    align-items: center;
    justify-content: center;
  }

  .header-div {
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .header-div h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 2px;
    text-align: center;
  }

  .header-div h2 {
    font-size: 2em;
    font-weight: bolder;
    margin: 2px;
    text-align: center;
  }

  .category-header {
    font-family: Verdana;
    font-size: 4em;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
  }

  .beverage-header-div {
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .beverage-header-div h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 2px;
    text-align: center;
  }

  .beverage-item {
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .beverage-item hr {
    margin-top: 60px;
    width: 200px;
    border-top: 2px solid lightblue;
  }

  .beverage-item h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 2px;
    text-align: center;
  }

  .beverage-item h2 {
    font-size: 2em;
    font-weight: bolder;
    margin: 2px;
    text-align: center;
  }

  .beverage-item p {
    font-size: 2em;
    font-weight: normal;
    font-family: cursive;
    text-align: center;
    line-height: 1;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 30%;
    padding-right: 30%;
  }

  .wifi-div {
    text-align: center;
    line-height: 1;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .wifi-div h1 {
    font-size: 4em;
  }

  .wifi-div p {
    font-size: 3em;
    text-align: center;
  }

  .wifi-div img {
    padding-top: 100px;
    width: 30%;
  }

  .bottom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 100px;
  }

  .bottom-image {
    padding-top: 0px;
    width: 20%;
    border-radius: 20px;
    align-self: center;
  }

  /* Tooltip container */
.tooltip {
  position: relative;
  display:flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
